<!DOCTYPE html>
<html ng-app="matchStatisticsApp">
	<head>
		<meta charset="utf-8">
		<script src="./scripts/angular.js"></script>  
		<script src="./scripts/angular-resource.min.js"></script>		
		<script src="./scripts/angular-route.min.js"></script>
		<script src="./scripts/angular-locale_fi-fi.js"></script>
		<script src="./scripts/ui-bootstrap.min.js"></script>
		<script src="./scripts/main.js"></script>
		<script src="./scripts/controllers/MainController.js"></script>	
		<script src="./scripts/controllers/TeamController.js"></script>
		<script src="./scripts/controllers/SaveTeamController.js"></script>
		<script src="./scripts/controllers/PlayerController.js"></script>
		<script src="./scripts/controllers/MatchController.js"></script>
		<script src="./scripts/controllers/LiveMatchController.js"></script>
		<script src="./scripts/controllers/RaportController.js"></script>
		<script src="./scripts/controllers/RaportMatchController.js"></script>
		<script src="./scripts/factories/StatApiFactory.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
		</head>
	<body>
		<div ng-controller="MainController">
		<header>
			<h1>Ottelutilastointi</h1>
				<b>Valitse joukkue</b><br/>
				<table width="100%">
				<tr>
				<td width="70%">
				Nimi: 
					<select ng-model="selectedTeam" ng-options="team.name for team in teams" ng-change="changeContent()">
					<option value="{{team.id}}">{{team.name}}</option>
					</select>  
					Laji: {{selectedTeam.sportId.name}}
				</td>
				<td width="30%">
					<button type="button" class="btn btn.default" ng-click="addTeam()">Luo joukkue</button>
				</td>
				</tr>
				</table>
			<hr>
		</header>
		<table width="800">
		<tr>
		<td width="150px" style="background-color: #EEEEEE" valign="top">
		<nav>
			<a href="#/team">Joukkue tiedot</a><br />	
			<a href="#/start_match">Aloita ottelu</a><br />
			<a href="#/reports">Raportit</a>
			<!--<a href="#/logout">Kirjaudu ulos</a> -->
		</nav>
		</td>
		<td width="650px">
		<section>
			<div ng-view>
			</div>
			
		</section>
		</td>
		</tr>
		</table>
		</div>
	</body>
</html>