<!DOCTYPE html>
<html ng-app="matchStatisticsApp">
	<head>
		<meta charset="utf-8">
		<script src="./scripts/angular.js"></script>  
		<script src="./scripts/angular-resource.js"></script>		
		<script src="./scripts/angular-route.js"></script>
		<script src="./scripts/angular-locale_fi-fi.js"></script>
		<script src="./scripts/ui-bootstrap.js"></script>
		<script src="./scripts/angular-translate.js"></script>
		<script src="./scripts/angular-translate-loader-static-files.js"></script>
		<script src="./scripts/main.js"></script>
		<script src="./scripts/controllers/MainController.js"></script>
		<script src="./scripts/controllers/LoginController.js"></script>
		<script src="./scripts/controllers/InnerController.js"></script>	
		<script src="./scripts/controllers/TeamController.js"></script>
		<script src="./scripts/controllers/SaveTeamController.js"></script>
		<script src="./scripts/controllers/PlayerController.js"></script>
		<script src="./scripts/controllers/MatchController.js"></script>
		<script src="./scripts/controllers/LiveMatchController.js"></script>
		<script src="./scripts/controllers/RaportController.js"></script>
		<script src="./scripts/controllers/RaportMatchController.js"></script>
		<script src="./scripts/factories/StatApiFactory.js"></script>
		<script src="./scripts/factories/UserFactory.js"></script>
		<link href="./css/bootstrap.min.css" rel="stylesheet">
		<link href="./css/tilastokp.css" rel="stylesheet">
	</head>
	<body>
		<div ng-controller="MainController">
		<nav class="navbar navbar-inverse">
			<div class="container">
				<div class="navbar-header"><a class="navbar-brand" href="#">
					{{ 'INDEX.TITLE' | translate }}
				</a></div>

      <div class="collapse navbar-collapse" id="navbar">
      	<div ng-if="isLoggedIn">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#/team">{{ 'INDEX.TEAM' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/start_match"">{{ 'INDEX.MATCH' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/reports">{{ 'INDEX.REPORT' | translate }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#/logout" ng-click="logout()">{{ 'INDEX.LOGOUT' | translate }}</a>
          </li>
        </ul>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
          	<a class="nav-link" href="" ng-click="changeLanguage('FI')">{{ 'BUTTON_LANG_FI' | translate }}
          	</a>
          </li>
          <li class="nav-item">
          	<a class="nav-link" href="" ng-click="changeLanguage('EN')">{{ 'BUTTON_LANG_EN' | translate}}
          	</a>
          </li>
        </ul>
        </div>
        </div>
        </nav>

        <div class="container">
		<div ng-if="isLoggedIn==false"><ng-include src="'./views/login.html'"></ng-include></div>
		<div ng-if="isLoggedIn"><ng-include src="'./views/main.html'"></ng-include></div>
		</div>

		</div>
	</body>
</html>