<div class="page-header"><h3>{{ modalTitle | translate }}</h3></div>

<form name="form.savePlayer" ng-submit="submitPlayer()" class="form-inline">

<div class="form-row show-hide-message" ng-show="playerPopupMessage">
	<div class="alert alert-danger">{{ playerPopupMessage | translate }}</div>
</div>

<input type="hidden" ng-model="playerId" />
<div class="row">
	<div class="col-md-6">
		<label class="control-label" for="firstname">{{ 'PLAYER.FIRSTNAME' | translate }}</label>
		<input type="text" class="form-control" ng-model="player.firstname" id="firstname" name="firstname" required/>
		<br /><span ng-show="form.savePlayer.firstname.$error.required">{{ 'PLAYER.MANDATORY' | translate }}</span>
	</div>
	<div class="col-md-6">
		<label class="control-label" for="lastname">{{ 'PLAYER.LASTNAME' | translate }}</label>
		<input type="text" class="form-control" ng-model="player.lastname" id="lastname" name="lastname" required/>
		<br /><span ng-show="form.savePlayer.lastname.$error.required">{{ 'PLAYER.MANDATORY' | translate }}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-6">
		<label class="control-label" for="nickname">{{ 'PLAYER.NICKNAME' | translate }}</label>
		<input type="text" class="form-control" ng-model="player.nickname" id="lastname" />
	</div>
	<div class="col-md-6">
		<label class="control-label" for="shirtnumber">{{ 'PLAYER.SHIRTNUMBER' | translate }}</label>
		<input type="text" class="form-control" ng-model="player.number" id="shirtnumber" name="shirtnumber" ng-pattern="/^[0-9]{1,2}$/" required/>
		<br />
		<span ng-show="form.savePlayer.shirtnumber.$error.pattern">{{ 'PLAYER.INVALIDSHIRTNUMBER' | translate }}</span>
		<span ng-show="form.savePlayer.shirtnumber.$error.required">{{ 'PLAYER.MANDATORY' | translate }}</span>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<label class="control-label" for="joiningdate">{{ 'PLAYER.JOIN' | translate }}</label>
		<div class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup="d!.M!.yyyy" ng-model="player.joining_date" is-open="popup2.opened" datepicker-options="playerDateOptions" id="joiningdate" name="joiningdate" ng-required="false" />
			<span class="input-group-addon"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></span>
		</div>
		<br /><span ng-show="!form.savePlayer.joiningdate.$valid">{{ 'PLAYER.INVALIDJOININGDATE' | translate }}</span>
	</div>
</div>
<div class="row" ng-if="playerId">
	<div class="col-md-12">
		<label class="control-label" for="leavingdate">{{ 'PLAYER.LEAVING' | translate }}</label>
		<div class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup="d!.M!.yyyy" ng-model="player.leaving_date" is-open="popup3.opened" datepicker-options="playerDateOptions" id="leavingdate" name="leavingdate" ng-required="false" />
			<span class="input-group-addon"><button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button></span>
		</div>
		<br /><span ng-show="!form.savePlayer.leavingdate.$valid">{{ 'PLAYER.INVALIDLEAVINGDATE' | translate }}</span>
	</div>
</div>
<div class="form-row">
	<p class="text-center">
		<button type="submit" class="btn btn-primary">{{ 'BUTTON_SAVE' | translate }}</button>
		<button type="button" class="btn btn-warning" ng-click="cancel()">{{ 'BUTTON_CANCEL' | translate }}</button>
	</p>
</div>
</form>