<div>
	<h3>{{modalTitle}}</h3>
	<form name="form.saveTeam" ng-submit="submitTeam()">
<table>
<tr>
<td><input type="hidden" ng-model="teamId" />Nimi:</td>
<td><input type="text" class="form-control" ng-model="team.name" required />
</td>
<td>Laji:</td>
<td ng-if="!teamId">
	<select ng-model="team.selectedSport" ng-options="sport.name for sport in sports">
		<option value="{{sport.id}}">{{sport.name}}</option>
	</select>  
<td ng-if="teamId">{{team.sportText}}</td>
</td>
</tr>
<tr>
<td colspan="2" align="center"><button type="submit" class="btn btn-primary">Tallenna</button></td>
<td colspan="2" align="center"><button type="button" class="btn btn-warning" ng-click="cancel()">Peruuta</button></td>
</tr>
</table>
</div>