<div ng-controller="InnerController">

<div class="page-header"><h3>{{ 'INDEX.CHOOSE_TEAM' | translate }}</h3>

<div class="row show-hide-message" ng-show="innerMesStatus=='success'">
	<div class="alert alert-success">{{ innerMessage | translate }}</div>
</div>
<div class="row show-hide-message" ng-show="innerMesStatus=='error'">
	<div class="alert alert-danger">{{ innerMessage | translate }}</div>
</div> 

<div class="row">
	<div class="col-md-6">
		{{ 'INDEX.NAME' | translate }}:
		<select ng-model="selectedTeam" ng-options="team.name for team in teams" ng-change="changeContent()">
			<option value="{{team.id}}">{{team.name}}</option>
		</select>
		{{ 'INDEX.SPORT' | translate }}: {{ 'SPORT.'+selectedTeam.sportId.name | translate }}
	</div>
	<div class="col-md-6"><p class="text-right">
		<button type="button" class="btn btn-success" ng-click="addTeam()">{{ 'INDEX.CREATE_TEAM' | translate }}</button>
	</p></div>
</div>

<div class="container">
	<section>
		<div ng-view></div>			
	</section>
</div>

</div>