<div>
	<h3>{{modalTitle}}</h3>
	<form name="form.saveMatch" ng-submit="submitMatch()">
<div class="matchPopupTable">
<div class="tableRow">
<div class="matchPopupHeaderCell"><b>{{ 'MATCH.OPPONENT' | translate }}:</b> {{matchData.opponent}}</div>
<div class="matchPopupHeaderCell"><b>{{ 'MATCH.DATE' | translate }}:</b> {{matchData.matchday | date:"dd.MM.yyyy"}}</div>
</div>
</div>
<div class="matchPopupTable">
<div class="tableRow">
<div class="matchPopupTableCell"><b>{{ 'MATCH.NUMBER' | translate }}:</b></div>
<div class="matchPopupTableCell" ng-repeat="event in sportEvents | orderBy:'order'">
<span uib-tooltip="{{ 'SPORT.'+sportName+'.'+event.abbreviation+'.DESC' | translate }}">
<b>{{ 'SPORT.'+sportName+'.'+event.abbreviation | translate }}</b>
</span>
</div>
</div>
<div class="tableRow" ng-class-odd="'greyish'" ng-class-even="'whiteish'" ng-repeat="player in matchData.finalPlayers | orderBy:'number/1'">
<div class="matchPopupTableCell">{{player.number}}</div>
<div class="matchPopupTableCell" ng-repeat="event in sportEvents | orderBy:'order'">
<button type="button" class="round-button" ng-class="$even ? 'odd' : 'even'" ng-init="players[player.id][event._id] = 0" ng-mousedown="handleClick($event, player.id, event._id)" oncontextmenu="return false">
	{{players[player.id][event._id]}}</button>
</div>
</div>
</div>
<div class="tableCenter"><button type="submit" class="btn btn-primary">{{ 'BUTTON_SAVE' | translate }}</button>
<button type="button" class="btn btn-warning" ng-click="cancel()">{{ 'BUTTON_CANCEL' | translate }}</button></div>
</form>
</div>