<div>
	<h3>{{modalTitle}}</h3>
	<form name="form.saveMatch" ng-submit="submitMatch()">
<table width="100%">
<tr>
<td width="50%">Vastustaja: {{matchData.opponent}}</td>
<td width="50%">Ottelupvm: {{matchData.matchday | date:"dd.MM.yyyy"}}</td>
</tr>
<tr>
<td colspan="2">
<table width="100%">
<tr>
<td style="padding: 5px">Pelinro:</td>
<td style="padding: 5px" ng-repeat="event in sportEvents | orderBy:'order'">{{event.abbreviation}}</td>
</tr>
<tr ng-repeat="player in matchData.finalPlayers | orderBy:'number/1'">
<td style="padding: 5px">{{player.number}}</td>
<td style="padding: 5px" ng-repeat="event in sportEvents | orderBy:'order'">
<span style="cursor: pointer; border: 1px solid black; padding: 5px" ng-init="players[player.id][event._id] = 0" ng-mousedown="handleClick($event, player.id, event._id)" oncontextmenu='return false'>{{players[player.id][event._id]}}</span>
</td>
</tr>
</table>
</td>
</tr>
<tr>
<td align="right"><button type="submit" class="btn btn-primary">Tallenna</button></td>
<td align="left"><button type="button" class="btn btn-warning" ng-click="cancel()">Peruuta</button></td>
</tr>
</table>
</div>