<div ng-controller="RaportController">
<h2>{{ 'REPORT.TITLE' | translate }}</h2>
{{ 'REPORT.TITLE_HELP' | translate }}<br/>
<br />
<input type="hidden" ng-model="selectedTeam.id" />
<div class="reportTable">
<div class="headTableRow">
<div class="reportHeader"><b>{{ 'REPORT.NAME' | translate }}:</b></div>
<div class="reportValue">{{selectedTeam.name}}</div>
</div>
<div class="headTableRow">
<div class="reportHeader"><b>{{ 'REPORT.DATE' | translate }}</b></div>
<div class="reportValue"><b>{{ 'REPORT.OPPONENT' | translate }}</b></div>
</div>
<div class="headTableRow" ng-repeat="match in matches | orderBy:'date'">
<div class="reportHeader" ng-click="openMatch(match._id)">{{match.date | date:"dd.MM.yyyy" }}</div>
<div class="reportValue" ng-click="openMatch(match._id)">{{match.opponent}}</div>
</div>
</div>
</div>