<div ng-controller="MatchController">
<H2>{{ 'MATCH.START' | translate }}</H2>
{{ 'MATCH.START_HELP' | translate }}<br />
<div class="matchTable">
<div class="headTableRow">
<div class="matchHeader">{{ 'MATCH.OPPONENT' | translate }}:</div>
<div class="matchValue"><input type="text" ng-model="match.opponent" required /></div>
</div>
<div class="headTableRow">
<div class="matchHeader">{{ 'MATCH.DATE' | translate }}:</div>
<div class="matchValue"><input type="text" class="form-control" uib-datepicker-popup="d!.M!.yyyy" ng-model="match.matchday" is-open="popup2.opened" datepicker-options="matchDayOptions" required /></div>
<div class="matchValue"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></div>
<div class="headTableRow">
<div class="matchHeader">{{ 'MATCH.PLAYERS' | translate }}:</div>
<div class="matchValuePlayers">
<div class="matchPlayer" ng-repeat="player in teamPlayers | orderBy:'number/1'">
<div class="matchPlayerName">
	<span ng-if="player.nickname && player.nickname != ''">{{player.nickname}}</span>
	<span ng-if="!player.nickname || player.nickname == ''">{{player.player_id.firstname}}</span>
</div>
<div class="matchPlayerNro">{{player.number}}</div>
<div class="matchPlayerBox"><input type="checkbox" id="{{player._id}}" ng-model="match.players[player._id][player.number]" /></div>
</div>
</div>
</div>
</div>
</div>
<div class="tableCenter"><button type="button" class="btn btn-default" ng-click="startGame()">{{ 'MATCH.START_BUTTON' | translate }}</button></div>
</div>