<div ng-controller="MatchController">
<br />
<div class="row">
	<div class="col-md-12">
		<h4>{{ 'MATCH.START' | translate }}</h4>
		{{ 'MATCH.START_HELP' | translate }}<br />
	</div>
</div>

<div class="row">
	<div class="col-md-2 label-control" for="opponent"><b>{{ 'MATCH.OPPONENT' | translate }}</b></div>
	<div class="col-md-6"><input type="text" class="form-control" ng-model="match.opponent" id="opponent" name="opponent" /></div>
</div>

<div class="row">
	<div class="col-md-2 label-control" for="opponent"><b>{{ 'MATCH.DATE' | translate }}</b></div>
	<div class="col-md-6">
		<div class="input-group">
			<input type="text" class="form-control" uib-datepicker-popup="d!.M!.yyyy" ng-model="match.matchday" is-open="popup2.opened" datepicker-options="matchDayOptions" id="matchday" name="matchday" />
			<span class="input-group-addon"><button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button></span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-2 label-control"><b>{{ 'MATCH.PLAYERS' | translate }}</b></div>
	<div class="col-md-6">
		<div class="row" ng-repeat="player in teamPlayers | orderBy:'number/1'">
			<div class="col-md-6">
				<span ng-if="player.nickname && player.nickname != ''">{{player.nickname}}</span>
				<span ng-if="!player.nickname || player.nickname == ''">{{player.player_id.firstname}}</span>
			</div>
			<div class="col-md-2">{{player.number}}</div>
			<div class="col-md-2"><input type="checkbox" id="{{player._id}}" ng-model="match.players[player._id][player.number]" /></div>
		</div>
	</div>
</div>

<div class="row">
	<p class="text-center"><button type="button" class="btn btn-success" ng-click="startGame()">{{ 'MATCH.START_BUTTON' | translate }}</button></p>
</div>

</div>